<link rel="stylesheet" href="project-view/project-view.css">
<div class="mdc-tab-scroller__scroll-content">
	<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="100" id="tab-general">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">General</span>
		</span>
		<span class="mdc-tab-indicator mdc-tab-indicator--active">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
		
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="200" id="tab-notes">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Notes</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="300" id="tab-tasks">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Tasks</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="400" id="tab-files">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Files</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="500" id="tab-appointments">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Appointments</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>	
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="600" id="tab-history">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">History</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>
</div>
<div id="decntnr-cntnr">
	<div class="detab" id="tab-general-decntnr" style="display:contents;">
		<form class="properties" ng-submit="save();">	
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="name">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="name-label">Name</span>
					<input class="mdc-text-field__input" id="name" type="text" value=" " ng-model="project.name" aria-labelledby="name-label" tabindex="101" 
						placeholder="(required)" autofocus="autofocus">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="descr">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="descr-label">Description</span>
					<input class="mdc-text-field__input" id="descr" type="text" value=" " ng-model="project.descr" aria-labelledby="descr-label" tabindex="102">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<span class="properties">{{project.actGroup}} (TODO)</span><br>
				<span class="properties">{{project.usrAdminList}} (TODO)</span><br>
				<span class="properties">{{project.usrAssignList}} (TODO)</span><br>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="date-start">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="date-start-label">Start date</span>
					<input class="mdc-text-field__input" id="date-start" type="date" ng-model="project.dateStart" aria-labelledby="date-start-label" 
						tabindex="106">
					<span class="mdc-line-ripple"></span>
				</label>&nbsp;<label class="mdc-text-field mdc-text-field--filled" id="date-end">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="date-end-label">End date</span>
					<input class="mdc-text-field__input" id="date-end" type="date" ng-model="project.dateEnd" aria-labelledby="date-end-label" 
						tabindex="107">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="effort-unit">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="effort-unit-label">Effort unit</span>
					<input class="mdc-text-field__input" id="effort-unit" type="time" ng-model="project.effortUnit" aria-labelledby="effort-unit-label" 
						tabindex="108">
					<span class="mdc-line-ripple"></span>
				</label>&nbsp;<label class="mdc-text-field mdc-text-field--filled" id="effort-cap">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="effort-cap-label">Effort cap</span>
					<input class="mdc-text-field__input" id="effort-cap" type="time" ng-model="project.effortCap" aria-labelledby="effort-cap-label" 
						tabindex="109">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>			
			<div class="deform">
				<button class="mdc-button mdc-button--raised" id="submit" title="Ok!" tabindex="198" ng-click="save();">
			  		<span class="mdc-button__label">Save</span>
				</button>
				<button class="mdc-button mdc-button--outlined" id="cancel" title="Discard changes and go back" tabindex="199" onclick="window.history.back();">
			  		<span class="mdc-button__label">Cancel</span>
				</button>
			</div>
		</form>		
	</div>
	
	<div class="detab" id="tab-notes-decntnr">
		<p>
			Found {{projectNotes.length}} notes&nbsp;
			<button class="mdc-button mdc-button--outlined" title="Add new note" ng-click="newNote();">
				<span class="mdc-button__label">New note</span>
			</button>
		</p>
		<div class="mdc-card note-cntnr" ng-repeat="note in projectNotes" id="project-note-{{note.id}}">
  			<div class="mdc-card__primary-action">
				<input id="project-note-{{note.id}}-summary" class="note-summary" value="{{note.summary}}" placeholder="Note summary"
					ng-model="note.summary" ng-change="trackNoteChange(this);" ng-blur="updateNotes(this);"/>
				<br>
				<textarea id="project-note-{{note.id}}-descr" class="note-descr"					
					ng-model="note.descr" ng-change="trackNoteChange(this);" ng-blur="updateNotes(this);">
					{{note.descr}}
				</textarea>	
  			</div>
    		<div class="mdc-card__action-icons">
    			<span class="note-meta">["{{note.usr}}"] (TODO) ({{note.date}})</span>
      			<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Delete" ng-click="deleteNote(this);">
      				delete
      			</button>
			</div>
		</div>
	</div>
	
	<div class="detab" id="tab-tasks-decntnr">[Tasks]</div>
	
	<div class="detab" id="tab-files-decntnr">[Files]</div>
	
	<div class="detab" id="tab-appointments-decntnr">[Appointments]</div>
	
	<div class="detab" id="tab-history-decntnr">[History]</div>
</div>
