<link rel="stylesheet" href="project-view/project-view.css">
<div class="mdc-tab-scroller__scroll-content">
	<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="100" id="tab-general">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">General</span>
		</span>
		<span class="mdc-tab-indicator mdc-tab-indicator--active">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
		
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="200" id="tab-notes">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Notes</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="300" id="tab-tasks">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Tasks</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="400" id="tab-files">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Files</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>		
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="500" id="tab-appointments">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">Appointments</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>	
	
	<button class="mdc-tab" role="tab" aria-selected="true" tabindex="600" id="tab-history">
		<span class="mdc-tab__content">
			<span class="mdc-tab__text-label">History</span>
		</span>
		<span class="mdc-tab-indicator">
			<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
		</span>
		<span class="mdc-tab__ripple mdc-ripple-upgraded"></span>
	</button>
</div>
<div id="decntnr-cntnr">
	<div class="detab" id="tab-general-decntnr" style="display:contents;">
		<form class="properties" ng-submit="save();">	
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="name">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="name-label">Name</span>
					<input class="mdc-text-field__input" id="name" type="text" value=" " ng-model="project.name" aria-labelledby="name-label" tabindex="101" 
						placeholder="(required)" autofocus="autofocus">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="descr">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="descr-label">Description</span>
					<input class="mdc-text-field__input" id="descr" type="text" value="{{project.descr!=''?' ':''}}" ng-model="project.descr" aria-labelledby="descr-label" tabindex="102">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<span class="properties">Act grp: {{project.actGrp}} (TODO)</span><br>
				<span class="properties">Usr admin list: {{project.usrAdminList}} (TODO)</span><br>
				<span class="properties">Usr assign list: {{project.usrAssignList}} (TODO)</span><br>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="date-start">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="date-start-label">Start date</span>
					<input class="mdc-text-field__input" id="date-start" type="date" ng-model="project.dateStart" aria-labelledby="date-start-label" 
						tabindex="106">
					<span class="mdc-line-ripple"></span>
				</label>&nbsp;<label class="mdc-text-field mdc-text-field--filled" id="date-end">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="date-end-label">End date</span>
					<input class="mdc-text-field__input" id="date-end" type="date" ng-model="project.dateEnd" aria-labelledby="date-end-label" 
						tabindex="107">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>
			<div class="deform">
				<label class="mdc-text-field mdc-text-field--filled" id="effort-unit">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="effort-unit-label">Effort unit (hours:minutes)</span>
					<input class="mdc-text-field__input" id="effort-unit" value=" " ng-model="project.effortUnit" 
						aria-labelledby="effort-unit-label" tabindex="108">
					<span class="mdc-line-ripple"></span>
				</label>&nbsp;<label class="mdc-text-field mdc-text-field--filled" id="effort-cap">
					<span class="mdc-text-field__ripple"></span>
					<span class="mdc-floating-label" id="effort-cap-label">Effort cap (hours:minutes)</span>
					<input class="mdc-text-field__input" id="effort-cap" value=" " ng-model="project.effortCap" 
						aria-labelledby="effort-cap-label" tabindex="109">
					<span class="mdc-line-ripple"></span>
				</label>
			</div>			
			<div class="deform">
				<button type="submit" class="mdc-button mdc-button--raised" id="submit" title="Ok!" tabindex="198">
			  		<span class="mdc-button__label">Save</span>
				</button>
				<button class="mdc-button mdc-button--outlined" id="cancel" title="Discard changes and go back" tabindex="199" onclick="parayer.ui.goHome();">
			  		<span class="mdc-button__label">Cancel</span>
				</button>
			</div>
		</form>		
	</div>
	
	<div class="detab" id="tab-notes-decntnr">
		<div class="detab-control-cntnr">
			<div class="detab-control-cntnr-left">
				Found {{project.notes.length}} notes&nbsp;
				<button class="mdc-button mdc-button--outlined" title="Add new note" ng-click="newNote();">
					<span class="mdc-button__label">New note</span>
				</button>
			</div>
			<div class="detab-control-cntnr-right">
				<span class="material-icons">search</span>
				<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label" id="note-filter-text">
					<span class="mdc-notched-outline">
						<span class="mdc-notched-outline__leading"></span>
						<span class="mdc-notched-outline__trailing"></span>
					</span>
  					<input type="text" class="mdc-text-field__input" id="note-filter-text-input" aria-label="Filter notes by..." placeholder="Filter notes by..."
						ng-model="noteFilterText" ng-change="filterNotesByText();">
				</label>
			</div>
		</div>
		<div class="detab-list-cntnr">
			<div class="mdc-card note-cntnr" ng-repeat="note in project.notes" id="project-note-{{note._id}}">
	  			<div class="mdc-card__primary-action">
					<input id="project-note-{{note._id}}-summary" class="note-summary" value="{{note.summary}}" placeholder="Note summary"
						ng-model="note.summary" ng-change="note.changed=true;" ng-blur="updateNote(this);"/>
					<br>
					<textarea id="project-note-{{note._id}}-descr" class="note-descr" onkeyup="parayer.ui.txtFitContents(this);"					
						ng-model="note.descr" ng-change="note.changed=true;" ng-blur="updateNote(this);">
						{{note.descr}}
					</textarea>	
	  			</div>
	    		<div class="mdc-card__action-icons">
	    			<span class="note-meta"><div class="mdc-chip refchip" id="{{note.usr}}">...</div>&nbsp;({{note.date.toLocaleString()}})</span>
	      			<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Delete" ng-click="deleteNote(this);">
	      				delete
	      			</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="detab" id="tab-tasks-decntnr">
		<div class="detab-control-cntnr">
			<div class="detab-control-cntnr-left">
				Found {{project.tasks.length}} tasks ({{project.tasksCompleted}} completed)&nbsp;
				<button class="mdc-button mdc-button--outlined" title="Add new task" ng-click="newTask();">
					<span class="mdc-button__label">New task</span>
				</button>
				&nbsp;
				<button class="mdc-button mdc-button--outlined" title="Delete completed tasks" ng-click="purgeTasks();">
					<span class="mdc-button__label">Purge</span>
				</button>				
			</div>
			<div class="detab-control-cntnr-right" style="display: table;">
				<div style="display: table-row;">
					<div style="display: table-cell;">
						Sort by:&nbsp;
					</div>
					<div style="display: table-cell;">
						<div class="mdc-chip-set mdc-chip-set--choice">
							<div class="mdc-chip mdc-chip--selected" id="task-sort-pc">
								<div class="mdc-chip__ripple"></div>
								<span role="gridcell">
									<span role="button" tabindex="0" class="mdc-chip__primary-action" ng-click="setTaskSort('pc');">
										<span class="mdc-chip__text">% completed</span>
									</span>
								</span>
							</div>
							<div class="mdc-chip" id="task-sort-dateDue">
								<div class="mdc-chip__ripple"></div>
								<span role="gridcell">
									<span role="button" tabindex="0" class="mdc-chip__primary-action" ng-click="setTaskSort('dateDue');">
										<span class="mdc-chip__text">due date</span>
									</span>
								</span>
							</div>
							<div class="mdc-chip" id="task-sort-created.date">
								<div class="mdc-chip__ripple"></div>
								<span role="gridcell">
									<span role="button" tabindex="0" class="mdc-chip__primary-action" ng-click="setTaskSort('created.date');">
										<span class="mdc-chip__text">creation date</span>
									</span>
								</span>
							</div>
							<div class="mdc-chip" id="task-sort-updated.date">
								<div class="mdc-chip__ripple"></div>
								<span role="gridcell">
									<span role="button" tabindex="0" class="mdc-chip__primary-action" ng-click="setTaskSort('updated.date');">
										<span class="mdc-chip__text">updated</span>
									</span>
								</span>
							</div>
						</div>
					</div>
					&nbsp;&nbsp;&nbsp;
					<div style="display: table-cell;">
						<span class="material-icons">search</span>
						<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label" id="task-filter-text">
							<span class="mdc-notched-outline">
								<span class="mdc-notched-outline__leading"></span>
								<span class="mdc-notched-outline__trailing"></span>
							</span>
		  					<input type="text" class="mdc-text-field__input" id="task-filter-text-input" aria-label="Filter tasks by..." placeholder="Filter tasks by..."
								ng-model="taskFilterText" ng-change="filterTasksByText();">
						</label>
					</div>
				</div>
			</div>
		</div>
		<br/>
		<div class="detab-list-cntnr">
			<div class="mdc-card task-cntnr" ng-repeat="task in project.tasks" id="project-task-{{task._id}}">
	  			<div class="mdc-card__primary-action">
					<div class="task-header">
						<div class="task-header-left">
							<input class="task-summary" id="project-task-{{task._id}}-summary" value="{{task.summary}}" placeholder="Task summary"
								ng-readonly="task.pc=='100'" ng-model="task.summary" ng-change="task.changed=true;" ng-blur="updateTask(this);"/>	
						</div>
						<div class="task-header-right">
							<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label task-control" id="task-assigned-users">
								<span class="material-icons task-control-icon" title="Assigned to...">supervisor_account</span>
								<span class="mdc-notched-outline">
									<span class="mdc-notched-outline__leading"></span>
									<span class="mdc-notched-outline__trailing"></span>
								</span>
  								<input type="text" class="mdc-text-field__input task-control" id="task-assigned-users" aria-label="Assigned users"
									readonly="readonly" ng-model="task.usrAssignList">
							</label>&nbsp;
							<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label task-control" id="task-date-due">
								<span class="material-icons task-control-icon" title="Task due date">event</span>
								<span class="mdc-notched-outline">
									<span class="mdc-notched-outline__leading"></span>
									<span class="mdc-notched-outline__trailing"></span>
								</span>
  								<input type="date" class="mdc-text-field__input task-control" id="task-due-date-input" aria-label="Task due date"
									ng-readonly="task.pc=='100'" ng-model="task.dateDue" ng-change="task.changed=true;" ng-blur="updateTask(this);"">
							</label>&nbsp;
							<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label task-control" id="task-pc">
								<span class="material-icons task-control-icon" title="Task progress">forward</span>
								<span class="mdc-notched-outline">
									<span class="mdc-notched-outline__leading"></span>
									<span class="mdc-notched-outline__trailing"></span>
								</span>
  								<select class="mdc-text-field__input" id="task-pc-input" aria-label="Task progress"
									ng-model="task.pc" ng-click="task.changed=true;" ng-blur="updateTask(this);">
									<option value="0">0%</option>
									<option value="10">10%</option>
									<option value="20">20%</option>
									<option value="30">30%</option>
									<option value="40">40%</option>
									<option value="50">50%</option>
									<option value="60">60%</option>
									<option value="70">70%</option>
									<option value="80">80%</option>
									<option value="90">90%</option>
									<option value="100">100%</option>
  								</select>
							</label>&nbsp;
							<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon task-control-icon" title="Mark as completed" 
								ng-disabled="task.pc=='100'" ng-click="task.pc='100'; task.changed=true; updateTask(this);">
	      						check_circle
	      					</button>
						</div>
	  				</div>					
					<br>
					<textarea id="project-task-{{task._id}}-descr" class="task-descr" onkeyup="parayer.ui.txtFitContents(this);"				
						ng-readonly="task.pc=='100'" ng-model="task.descr" ng-change="task.changed=true;" ng-blur="updateTask(this);">
						{{task.descr}}
					</textarea>	
				</div>
				<div class="mdc-card__action-icons">
					<span class="task-meta">
						Created by:&nbsp;<div class="mdc-chip refchip" id="{{task.created.usr}}">...</div>&nbsp;({{task.created.date.toLocaleString()}})
					</span>
					<span class="task-meta" ng-if="task.created.date!=task.updated.date">
						; updated by:&nbsp;<div class="mdc-chip refchip" id="{{task.updated.usr}}">...</div>&nbsp;({{task.updated.date.toLocaleString()}})
					</span>
					<button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Delete" ng-click="deleteTask(this);">
						delete
					</button>
				</div>
			</div>
		</div>
	</div>	
		
	<div class="detab" id="tab-files-decntnr">[Files]</div>
	
	<div class="detab" id="tab-appointments-decntnr">[Appointments]</div>
	
	<div class="detab" id="tab-history-decntnr">
		<div class="detab-control-cntnr">
			<div class="detab-control-cntnr-left">
				Found {{project.history.length}} entries&nbsp;
			</div>
			<div class="detab-control-cntnr-right">
				<span class="material-icons">search</span>
				<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label" id="note-filter-text">
					<span class="mdc-notched-outline">
						<span class="mdc-notched-outline__leading"></span>
						<span class="mdc-notched-outline__trailing"></span>
					</span>
  					<input type="text" class="mdc-text-field__input" id="history-filter-text-input" aria-label="Filter history by..." 
  						placeholder="Filter history by..." ng-model="historyFilterText" ng-change="filterHistory();">&nbsp;
  					<select class="mdc-text-field" id="history-filter-date-select" ng-click="filterHistory();">
  						<option ng-repeat="filter in historyDateFilterOptions" value="{{filter.value}}">{{filter.text}}</option>
  					</select>
				</label>
			</div>
		</div>
		<br>
		<div class="detab-list-cntnr">
			<div class="mdc-card hist-entry-cntnr" ng-repeat="entry in project.history" id="project-hist-entry-{{entry._id}}">
	  			<div class="mdc-chip refchip" id="{{entry.usr}}">...</div>&nbsp;
				{{entry.summary}}&nbsp;
				<div class="mdc-chip refchip" ng-repeat="rel in entry.relatedTo" id="{{rel}}">...</div>&nbsp;
				({{entry.timestamp.toLocaleString()}})
			</div>
		</div>
	</div>
</div>
