<link rel="stylesheet" href="act-grid-view/act-grid-view.css">
<div class="mdc-data-table" id="act-grid-cntnr-main">
	<div class="mdc-data-table__table-container" id="act-grid-cntnr">
		<table class="mdc-data-table__table act-grid"aria-label="Activity grid">
			<thead class="act-grid">
				<tr class="mdc-data-table__header-row">
					<th class="mdc-data-table__header-cell c01" role="columnheader" scope="col">Activity list</th>
					<th class="mdc-data-table__header-cell c02" role="columnheader" scope="col">
						<button class="mdc-icon-button material-icons" aria-label="New activity area" title="New activity area">add_library</button>
					</th>
					<th class="mdc-data-table__header-cell c03 wday-label {{d.today?'today':''}}" role="columnheader" scope="col"
						ng-repeat="d in selectedWeek">{{d.dt}}<br>{{d.dmt}}</th>
					<th class="mdc-data-table__header-cell c04 sbph" role="columnheader" scope="col">sum</th>
				</tr>
			</thead>
			<tbody class="mdc-data-table__content act-grid">
				<tr ng-repeat="activity in myActList" class="mdc-data-table__row act-grid {{activity.value.type=='ActArea'?'act-area':activity.value.type=='ActGrp'?'act-grp':'project'}}">
					<th class="mdc-data-table__cell c01 {{activity.value.type=='ActArea'?'act-area':activity.value.type=='ActGrp'?'act-grp':'project'}}">
						<button class="mdc-icon-button material-icons" aria-label="Show less" title="Show more"
						ng-if="activity.value.type=='ActArea' || activity.value.type=='ActGrp'">
							expand_more
						</button>
						<a href="#!/{{activity.value.type=='ActArea'?'act-area':activity.value.type=='ActGrp'?'act-group':'project'}}/{{activity.id}}" 
							class="activity-label" title="{{activity.value.descr}}">{{activity.value.name}}</a>
					</th>
					<th class="mdc-data-table__cell c02" scope="row">
						<button class="mdc-icon-button material-icons" ng-if="activity.value.type!='Project'"
							aria-label="New {{activity.value.type=='ActArea'?'activity group':'project'}}" 
							title="New {{activity.value.type=='ActArea'?'activity group':'project'}}">add_library</button>					
					</th>
					<td class="mdc-data-table__cell c03 {{d.today?'today':''}} effort" ng-repeat="d in selectedWeek">
						<span class="effort-control" title="Reset effort" aria-label="Reset effort" ng-if="activity.value.type=='Project'">x</span>
						<span class="effort-control" title="Subtract effort unit" aria-label="Subtract effort unit" ng-if="activity.value.type=='Project'">-</span>
						<span class="effort-control" title="Add effort unit" aria-label="Add effort unit" ng-if="activity.value.type=='Project'">+</span>
						<span class="effort-value" contenteditable="{{activity.value.type=='Project'?'true':'false'}}">0:00</span>
					</td>
					<td class="mdc-data-table__cell c04 sum">0:00</td>					
				</tr>
			</tbody>
			<thead class="act-grid">
				<tr>
					<th class="mdc-data-table__cell c01" scope="row"></th>
					<th class="mdc-data-table__cell c02" scope="row">sum</th>
					<td class="mdc-data-table__cell c03 sum {{d.today?'today':''}}" ng-repeat="d in selectedWeek">0:00</td>
					<td class="mdc-data-table__cell c04 sum sbph">0:00</td>

				</tr>
				<tr class="mdc-data-table__header-row">
					<th class="mdc-data-table__header-cell c01" role="columnheader" scope="col"></th>
					<th class="mdc-data-table__header-cell c02" role="columnheader" scope="col">
						<button class="mdc-icon-button material-icons" aria-label="Previous week" title="Previous week">skip_previous</button>
					</th>
					<th class="mdc-data-table__header-cell c03 wday-label {{d.today?'today':''}}" role="columnheader" scope="col"
						ng-repeat="d in selectedWeek">{{d.dt}}<br>{{d.dmt}}</th>
					<th class="mdc-data-table__header-cell c04 sbph" role="columnheader" scope="col">
						<button class="mdc-icon-button material-icons" aria-label="Next week" title="Next week">skip_next</button>
					</th>
				</tr>
				<tr class="mdc-data-table__row">
					<th class="mdc-data-table__cell c01" scope="row"></th>
					<th class="mdc-data-table__cell c02 hlabel" scope="row"></th>
					<td class="mdc-data-table__cell c03 time-slot {{d.today?'today':''}}" ng-repeat="d in selectedWeek"></td>
					<th class="mdc-data-table__cell c04 hlabel sbph"></th>
				</tr>				
			</thead>
			<tbody class="mdc-data-table__content act-grid">
				<!-- TODO Locale time format -->
				<tr class="mdc-data-table__row" ng-repeat="h in ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23']">
					<th class="mdc-data-table__cell c01" scope="row"></th>
					<th class="mdc-data-table__cell c02 hlabel" scope="row">{{h}}:00</th>
					<td class="mdc-data-table__cell c03 time-slot {{d.today?'today':''}}" ng-repeat="d in selectedWeek"></td>
					<th class="mdc-data-table__cell c04 hlabel">{{h}}:00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
