/* ************************************************************************** *
 * parayer :: activity grid stylesheet                                        *
 * ************************************************************************** */
div.mdc-data-table#act-grid-cntnr-main {
	height: 100%;
	max-height: 100%;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;	
	visibility: hidden;
}

div#act-grid-cntnr {
	height: 100%;
	overflow-y: hidden;	
}

table.act-grid {
	display: block;
	height: 100%;
}

thead.act-grid {
	display: block;
	height: auto;
	width: 100%;
}

tbody.act-grid {
	display: block;
	height: auto;
	min-height: 35%;
	width: 100%;
}

tbody.act-grid {
	height: 30vh; 
	overflow-y: scroll;
	overflow-x: auto;
}

th.wday-label {
	text-align: right;
}

th.today {
	color: orange;
}

th.act-area {
	font-weight: bold;
}

tr.act-grp {
	display: none;
}	

th.act-grp {
	padding-left: 2em; 
}

tr.project {
	display: none;
}

th.project {
	padding-left: 7em;
	font-style: italic;
}

a.activity-label {
	text-decoration: none;
	color: initial;
	transition: border 0.5s;
}

a.activity-label:hover {
	border-bottom: orange 0.1em dashed;
}

td.effort {
	text-align: right;
	border-left: silver 1px dotted;
	border-right: silver 1px dotted;
}

td.effort:hover > span.effort-control{
	opacity: 0.65;
} 

span.effort-control {
	display: inline-block;
	cursor: pointer; 
	border: transparent 1px solid;
	border-radius: 0.5em;
	width: 1em;
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
	font-weight: bold;
	border: silver 1px solid;
}

span.effort-control:hover {
 	border: orange 1px solid;
 	color: darkorange;
}

span.effort-value {
	display: inline-block;
	width: 3em;
	text-align: right;
}

.mdc-data-table__header-cell {
	font-weight: bold;
	text-align: center;
}

th.hlabel {
	font-size: 75%;
	vertical-align: top;
}

td.time-slot {
	border-left: silver 1px dotted;
	border-right: silver 1px dotted;
}

td.sum {
	font-weight: bold;
	color: darkgray;
	text-align: right;
}
/* ************************************************************************** */