/* ********************************************************************************************************************************************************** *
 * parayer :: server-config.json.sample                                                                                                                       *
 * Server config, sample file. To be copied as server-config.json                                                                                             *
 * ********************************************************************************************************************************************************** */
{
	"httpPort": 3000,
	"loggerOpts": { 
		"timestampFormat": "YYYY-MM-DD HH:mm:ss.SSS" 
	},
	"couchDb": {
		"host": "localhost",
		"port": 5984,
		"db": "parayer",
		"user": "parayer",
		"pwd": "parayer",
		"strict": true
	}
}
/* ********************************************************************************************************************************************************** */