/* ************************************************************************** *
 * parayer :: main stylesheet                                                 *
 * ************************************************************************** */

/* *** UI layout *** ******************************************************** */
body {
	overflow-x: hidden;
	overflow-y: auto;
}

header.mdc-top-app-bar {
	z-index: 100;
	top:0em; 
	left:0em;
}

aside.mdc-drawer {
	z-index: 99;
}

div.layout#cntnr-main {
	margin-top: 10vh;
	width: 100vw;
}
/* *** FX & animations *** ************************************************** */
.blinking {
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     opacity: 0.8; }
    49%{    opacity: 0.8; }
    60%{    opacity: 0.0; }
    99%{    opacity: 0.0; }
    100%{   opacity: 0.8; }
}
/* ************************************************************************** */
