<form class="properties" ng-controller="actAreaViewCtrl" ng-submit="save();">	
	<div>
		<label class="mdc-text-field mdc-text-field--filled" id="name">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="name-label">Name</span>
			<input class="mdc-text-field__input" id="name" type="text" value=" " ng-model="actArea.name" aria-labelledby="name-label" tabindex="1" 
				placeholder="(required)">
			<span class="mdc-line-ripple"></span>
		</label>
	</div>
	<div>
		<label class="mdc-text-field mdc-text-field--filled" id="descr">
			<span class="mdc-text-field__ripple"></span>
			<span class="mdc-floating-label" id="descr-label">Description</span>
			<input class="mdc-text-field__input" id="descr" type="text" value=" " ng-model="actArea.descr" aria-labelledby="descr-label" tabindex="2">
			<span class="mdc-line-ripple"></span>
		</label>
	</div>
	<div>
		<span class="properties">{{actArea.usrAdminList}} (TODO)</span><br>
		<span class="properties">{{actArea.usrAssignList}} (TODO)</span><br>
	</div>
	<div>
		<button class="mdc-button mdc-button--raised" id="submit" title="Ok!" tabindex="11" ng-click="save();">
	  		<span class="mdc-button__label">Save</span>
		</button>
		<button class="mdc-button mdc-button--outlined" id="cancel" title="Discard changes and go back" tabindex="12" onclick="window.history.back();">
	  		<span class="mdc-button__label">Cancel</span>
		</button>
	</div>
</form>
